table {
    border-collapse: collapse;
    margin: 0 auto; /* Center the table horizontally */
}

td {
    border: 1px solid rgb(188, 188, 188);
    padding: 12px;
    text-align: center;
    font-size: 18px;
}

/* Style for the buttons and form */
form {
    display: inline-block; /* Keeps forms/buttons inline */
    margin: 10px; /* Adds some space around each button */
}

button {
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s; /* Smooth transition for hover effect */
    border-radius: 5px; /* Rounded corners for the button */
    background-color: white; /* Initial background color */
    color: black; /* Initial text color */
    border: 2px solid #434343; /* Border color similar to dark green for consistency */
}

/* Hover effect for buttons */
button:hover {
    background-color: #2c2c2c; /* Dark green background on hover */
    color: white; /* White text on hover */
}

/* Centering the words list */
.words-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: center;
    margin: 50px auto 0px auto ;
}
